html,
body {
	margin:0;
	padding:0;
	
	font-size: 18px;
	overflow-x: hidden;
	overflow-y: auto;
	&.active {
		overflow-y: hidden;
	}
}
* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
//Default Fonts
h1, h2, h3, h4, h5, [class*="heading-"] {
	font-family: $header-font;
	margin-top: 0;
	margin-bottom: 0.5rem;
	font-weight: 700;
}
h1, .heading-1 {
	font-size: 2.5rem;
}
h2, .heading-2 {
	font-size: 2rem;
}
h3, .heading-3 {
	font-size: 1.5rem;
}
h4, .heading-4 {
	font-size: 1.25rem;
}
h5, .heading-5 {
	font-size: 1rem;
}
body {
	font-family: $body-font;
	
	color: $text_color;
}
.large {
	font-size: 20px;
}
.small {
	font-size: 16px;
}
p {
	margin-top: 0;
	
}
//Links
a, .text-link {
	&:not(.btn) {
		text-decoration: none;
		color: $text_color;
		font-weight: 700;
		@include linkHiglight;
		&.white {
			color: $white;
			&:hover, &:active, &:focus {
				color: $black;
			}	
		}
	}
}
img,svg {
	max-width: 100%;
	height: auto;
	margin: auto;
	display: block;
}
//semantic elements
main, section, article, footer, nav {
	display: block;
}
section {
	padding: 2rem;
	&.blue {
		background-color: $blue;
		color: $white;
	}
	&.grey {
		background-color: $lt-grey;
	}
	.inner-section {
		margin: auto;
		max-width: $size-large;
		.section-title {
			text-align: center;
		}
	}
}
main {
	min-height: calc(100vh - 2rem);
}
//Form Inputs
input,textarea, select {
	font-family: $body-font;
	font-size: 18px;
	&:not([type=submit]):not([type=file]):not([type=radio]):not([type=checkbox]) {
		width: 100%;
		padding: 0.5em;
		-webkit-appearance: none;
		-moz-appearance: none;
		border: 0;
	}
	&:active, &:focus {
		outline: 0;
	}

	&.submit {
		white-space: normal;
	}
}
.btn {
	background-color: $yellow;
	color: $charcoal;
	padding: 0.5rem 1rem;
	font-weight: bold;
	border: none;
	display: inline-block;
	@include border-radius;
	text-decoration: none;
	font-family: $body-font;
	font-size: 18px;
	border: 1px solid $yellow;
	@include transition(background-color,color,border-color);
	&:hover {
		background-color: $black;
		color: $yellow;
		border-color: $black;
	}
	&.blue {
		background-color: $blue;
		border-color: $blue;
		color: $white;
		&:hover {
			background-color: $white;
			color: $blue;
			border-color: $blue;
		}
	}
	&.white {

	}
}
.hidden {
	display: none !important;
}
//slide toggle
.toggle-box {
	overflow-y: hidden;
	display: none;
	@include transition(height);
	&.active {
		display: block;
	}
}
hr {
	max-width: $size-large;
	background-color: $grey;
	height: 1px;
	border: none;
}
@import "_overlay.scss";