footer {
  background-color: $charcoal;
  color: $white;
  padding: 0 1rem;
  .footer-grid {
    .footer-right {
      text-align: right;
      @include bp-small {
        text-align: left;
        padding-top: 0;
      }
      .icon-link {
        color: $white;
        margin-left: 1rem;
        @include transition(color,background-position);
        padding: 0 0.25rem;
        &:hover {
          color: $charcoal;
        }
        @include bp-small {
          margin-left: 0;
          margin-right: 1rem;

        }
      }
    }
  }
}
