.overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  
  top: 0;
  left: 0;
  z-index: 10;
  visibility: hidden;
  background-color: rgba($black,0.8);
  transform: translateY(-100%);
  @include transition(transform);
  overflow-y: scroll;
  padding: 2rem;
  &.active {
    transform: translateY(0%);
    visibility: visible;
  }
  &__body {
    max-width: $size-large;
    margin: auto;
  }
  &__close {
    text-align: right;
    margin-bottom: 1rem;
    &-btn {
      background-color: transparent;
      border-radius: 50%;
      width: 2rem;
      height: 2rem;
      border: 2px solid $white;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      color: $white;
      @include transition(color,background-color,border-color);
      &:hover {
        color: $charcoal;
        background-color: $yellow;
        border-color: $yellow;
        cursor: pointer;
      } 
      i {
        font-size: 1rem;
      }

    }
  }
}