//Fonts
$header-font: 'Nunito Sans', sans-serif;
$body-font: 'Nunito Sans', sans-serif;
//Color Variables
$green: #26a65b;
$yellow: #ffd700;
$red: #dc2a2a;
$orange: #e65722;
$blue: #3e73cb;
$white: #fff;
$black: #000;
$charcoal: #333;
$grey: #dadada;
$grey-text: #8c8c8c;
//Theme colors
$text_color: $charcoal;
$primary_color: $blue;
$secondary_color: $white;
$link_color: $yellow;
//Mobile Breakpoints
$size-x-large: 1280px;
$size-large: 1024px;
$size-medium: 768px;
$size-small: 568px;
//Padding for Sections and Grids

$transition_duration: .33s;
//Mixins
