@import "mixins.scss";
@import "vars.scss";
body {
  position: relative;
  &.active {
    overflow-y: hidden;
  }
}
.project-overlay {
  position: fixed;
  padding: 2em;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba($black,0.8);
  z-index: -1;
  opacity: 0;
  overflow-y: scroll;
  @include transform(translateY(-100%));
  @include transition(transform,opacity);
  @include flexbox;
  justify-content: center;
  align-items: center;
  @include bp-small {
    display: block;
    padding: 3em 1em 1em;
  }
  &.active {
    z-index: 10;
    opacity: 1;
    @include transform(translateY(0%));
  }

  .overlay-content {
    max-width: $size-large;
    margin: auto;
    position: relative;
    .close-overlay {
      position: absolute;
      top: 0;
      right: 0;
      color: $white;
      font-size: 2em;
      &:hover {
        cursor: pointer;
      }
    }
    .info-title {
      background-color: $blue;
      color: $white;
      display: inline-block;
      padding: 1em;
      position: relative;
      left: -1em;
      margin-bottom: 0;

      z-index: 2;
      @include box-shadow;
      @include bp-small {
        left: 0;
      }
      .selected-title {
        position: relative;
      }
      
    }
    .project-info {
      background-color: $white;
      padding: 1em;
      position: relative;
      z-index: 2;
      @include box-shadow(0px -2px 10px 0px rgba(0,0,0,0.35));
      .selected-tech {
        font-size: 14px;
        color: lighten($charcoal,25%);
        font-weight: 500;
        margin-bottom: 1rem;
      }
    }
    .slider-col {
      padding: 0;
    }
    .project-slider {
      position: relative;
      .scroller {
        position: absolute;
        opacity: 0;  
        text-align: center;
        z-index: 10;
        bottom: 1em;
        left: 50%;
        transform: translate(-50%);
        @include transition(opacity);
        height: 55px;
        width: 55px;
        border-radius: 50%;
        background-color: rgba($charcoal,0.7);
        display: flex;
        align-items: center;
        justify-content: center;
       .scroller-box {
          width: 15px;
          height: 30px;
          border: 2px solid $white;
          position: relative;
          .scroller-ball {
            height: 3px;
            width: 3px;
            position: absolute;  
            background-color: $white;
            left: 4px;
            top: 4px;
            animation: scroll;
            animation-duration: 1.5s;
            animation-iteration-count: infinite;
            animation-delay: 0.5s;
         } 
       }
       &.active {
         opacity: 1;
       }
       @keyframes scroll {
        0% {
          top: 4px;
          opacity: 1;
        }
        50% {
          
          opacity: 0.6;
        }
        100% {
          top: 25px;
          opacity: 0;
        }
      }
      }
      .slide-toggle {
        color: $white;
        font-size: 2em;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);  
        z-index: 10;
        width: 1em;
        height: 1em;
        background-color: $blue;
        @include box-shadow;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        i {
          color: $white;
          position: relative;
          line-height: normal;
        }
        &.prev {
          left: -1.5em;
          @include bp-large {
            left: -0.5em;
          }
        }
        &.next {
          right: -1.5em;
          @include bp-large {
            right: -0.5em;
          }
        }
      }
      .expand-image {
        position: absolute;
        z-index: 10;
        bottom: -1em;
        transform: translateX(-50%);
        left: 50%;
        .btn-text {
          padding-right: 0.5em;
        }
        &:hover {
          cursor: pointer;
        }
      }
      .slider-images {
        overflow-y: scroll;
        position: relative;
        max-height: 520px;
        @include transition(max-height);

        .slide {
          position: absolute;
          height: 0;
          width: 100%;
          top: 0;
          left: 0;
          opacity: 0;
          z-index: -1;
          @include transform(scale(1.25));
          transform-origin: center;
          pointer-events: none;
          height: 0;
          overflow: hidden;
          @include transition(transform,opacity);
          img {
            display: block;
            margin: auto;
            width: 100%;
            
          }
          &.active {
            position: relative;
            overflow: scroll;
            height: 100%;
            opacity: 1;
            z-index: 1;
            @include transform(scale(1));
            img {
              height: auto;
            }
          }
        }
      }
    }
  }
}
#home {
  section {
    .inner-section {
      
      h2 {
        text-align: center;
      }
    }
  }
  #hero {
    padding: 2em;
    color: $white;
    @include flexbox;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $blue;
    position: relative;
    &:after {
      content: '';
      bottom: 0;
      background-color: $blue;
      height: 100vh;
      width: 100%;
      display: block;
      @include transition(height);
      transition-delay: 1.7s;
    }
    .hero-text {
      padding: 0 2em;
      margin-bottom: 2rem;
      overflow: hidden;
      position: relative;
      .text-item {
        opacity: 0;
        transform: translateX(-100%);
        @include transition(transform,opacity);
        
        &:last-child {
          margin-bottom: 0;
          
        }
        &.active {
          opacity: 1;
          transform: translateX(0%);
        }
      }
      &:before {
        content: '';
        display: block;
        left: 1em;
        width: 5px;
        background-color: $white;
        height: 100%;
        position: absolute;
        top: 0;
        @include transform(translateY(-100%));
        @include transition(transform);
        transition-delay: 0s;
      }

    }
    .btn-row {
      padding-left: 2em;
      margin-top: 1rem;
      position: relative;
      overflow: hidden;
      .btn {
        transform: translateY(calc(-100%));
        opacity: 0;
        @include transition(transform,opacity);
        transition-delay: 1.3s;
        margin: 0;
      }
    }
    &.active {
      &:after {
        height: 0;
      }
      .hero-text {
        &:before {
          @include transform(translateY(0%));
        }
        
      }
      .btn-row {
        .btn {
          transform: translateY(0%);
          opacity: 1;
        }
      }
    }
  }
  #services {
    
    .inner-section {
      
    }
    .btn-row {
      margin-top: 2rem;
      text-align: center;
    }
    .services-list {
      .service {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include bp-medium {
          display: block;
        }  
        &:not(:last-child) {
          margin-bottom: 5rem;
          @include bp-medium {
            margin-bottom: 2rem;
          }  
        }
        .text-col {
          width: 60%;
          padding: 1rem;
          @include bp-medium {
            width: 100%;
          }
          .service-content {
            padding: 2rem; 
            border: 2px solid $black;
            @include border-radius;
            @include bp-medium {
              padding: 1rem 2rem;
            }  
            .service-title {
              margin-bottom: 0.5rem;
              @include bp-medium {
                text-align: center;
              }  
            } 
            .service-action {
              color: $grey-text;
              margin-bottom: 0.5rem;
              font-weight: 400;
              @include bp-medium {
                text-align: center;
              }
            }
            .mobile-image {
              display: none;
              @include bp-medium {
                margin: 2rem auto 1rem;
                display: block;
                svg {
                  height: 200px;
                }
                
              }  
            }
          }
        }
        .image-col {
          width: 40%;
          position: relative;
          padding: 0 2rem;
          @include bp-medium {
            width: 100%;
          }
          .service-image {
            @include bp-medium {
              display: none;
            }
          }
        }
        &.odd {
          
          .text-col {
            padding-right: 4rem;
            @include bp-medium {
              padding: 1rem;
            }
          }
        }
        &.even {
          flex-direction: row-reverse; 
          .text-col {
            padding-left: 4rem;
            @include bp-medium {
              padding: 1rem;
            }
          }
        }

      }
    }
  }
  #portfolio {
    position: relative;
    background-color: $blue;
    color: $white;
    .btn-row {
      text-align: center;
    }
    .portfolio-grid {
      max-width: $size-large;
      margin: auto;
      position: relative;
      top: 0;
      background-color: transparent;
      
      .project-col {
        background-size: cover;
        background-position: top center;
        height: 250px;
        overflow: hidden;
        padding: 1rem;
        position: relative;
        
        .col-content {
          text-align: center;
          position: relative;
          height: 100%;
          @include flexbox;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          @include box-shadow;
          @include border-radius;
          overflow: hidden;
          &:after {
            content: '';
            display: block;
            position: absolute;
            opacity: 0;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            z-index: -1;
            background-color: rgba($charcoal,0.95);
            @include transition(opacity);
          }
          .project-image {
            position: absolute;
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center top;
            z-index: 0;
          }
          .project-title {
            color: $white;
            font-weight: 700;
            position: relative;
            z-index: 1;
            display: inline-block;
            opacity: 0;
            @include transition(opacity);
            &:after {
              content: '';
              position: absolute;
              height: 2px;
              width: 100%;
              left: 0;
              bottom: -0.1em;
              background-color: $blue;
              @include transform(scaleX(0));
              transform-origin: center;
              @include transition(transform);
            }
          }

        }
        &:hover {
          cursor: pointer;
          
          .col-content {
            padding: 0.5rem;
            &:after {
              opacity: 1;
              z-index: 1;
            }
            .project-title {
              opacity: 1;
              z-index: 3;
              
              &:before {
                bottom: -1.5em;
                opacity: 1;
                z-index: 3;
              }
              &:after {
                @include transform(scaleX(1));
              }
            }

          }
        }
      }
    }
  }
  #about {
    .text-col {
      max-width: $size-small;
      margin: auto;
    }
    .btn-row {
      text-align: center;
    }
    .skills-col {
      .skill-grid {
        .skill-category {
          text-align: center;
          .skill {
            margin: 0.5em 10px;
            background-color: $blue;
            color: $white;
            font-weight: 700;
            @include transform(translateY(-2em));
            opacity: 0;
            @include transition(transform,opacity);
            padding: 0.5em;

            &.active {
              @include transform(translateY(0));
              opacity: 1;
            }
          }
          .skill-bin {
            height: 1em;
            position: relative;
            top: -1em;
            border-bottom: 5px solid $blue;
            border-left: 5px solid $blue;
            border-right: 5px solid $blue;
          }
        }
      }
    }
  }
  #blog-posts {
    .posts-list {
      max-width: $size-small;
      margin: auto;
      .post-col {
        padding: 1rem;
        
        flex: 1 0 auto;
        .post {
          overflow: hidden;
          background-color: $white;
          @include border-radius;
          padding: 1rem;
          height: 100%; 
          @include box-shadow;
          .post-tags {
            color: $grey-text;
          }
        }
      }
    }
    .btn-row {
      text-align: center;
      margin-top: 1rem;
    }
  }
  
}
