---
_inputs:
skills.categories:
  type: array
title: About Me
permalink: /about/
layout: default
css: about
intro:
  title: About me
  text: >-
    I am a one-person web department with 10 years experience embedded with
    marketing, digital, and communications teams. From enterprise websites to
    landing pages, I have coded and optimized them all with a user-first
    approach driven by data. Typically the roles of frontend developer, UX
    researcher, designer, and product manager are separate roles, but you get
    all four with me. Ideal projects and roles for me will focus on A/B testing,
    conversion rate and web performance optimization, and product management.
  headshot:
    image: /images/ed-cupaioli-color.png
    alt: Headshot of Ed Cupaioli
experience:
  title: My Experience
  text:
  timeline:
    - daterange: May 2021 - Present
      company: Ed Cupaioli LLC
      title: Product Manager
      text:
      tasks:
        - >-
          Led and provided technical and design direction for products, which
          included stakeholder engagement, project scoping and budgeting, site
          structure, wireframing, prototyping, mobile and desktop design, user
          stories, content aggregation, development, quality assurance,
          maintenance, and product life cycle planning.
        - >-
          Collaborated with designers, engineers, third-party vendors, content
          writers, and C-suite staff to gather product requirements, scope
          projects, and create and assign tasks.
        - >-
          Created and implemented product management processes into existing
          client-based project management software for website maintenance,
          feature additions, and new pages ensuring quick and organized launches
          and fixes.
        - >-
          Supported organization objectives by identifying and configuring
          tracking for key conversions.
        - >-
          Facilitated user testing and training sessions which included written
          documentation for both non-technical users and engineers.
    - daterange: July 2020 - May 2021
      company: eStreet
      title: Director of Experience
      text:
      tasks:
        - >-
          Established the user experience and web development department to
          provide technical direction for product development, design,
          management, and maintenance.
        - >-
          Worked collaboratively with clients, account managers, designers,
          content editors, engineers, and third-party vendors to create
          accessible, user-friendly frontend and web solutions for e-commerce,
          political campaign, and marketing projects.
        - >-
          Established an objective-based project management process for ease of
          client onboarding and allocation of human capital resources that
          streamlined the process of timeline creation, budget, and identified
          potential blockers to project success.
        - >-
          Created, managed, and implemented A/B testing focused on e-commerce
          user journeys and implemented tracking and analyzed data with Google
          Tag Manager, Facebook Business Manager, Google Ads, and Google
          Analytics.
        - >-
          Coordinated with directors to develop long-term strategies for clients
          to improve user experience, track and increase conversion rates, and
          comply with accessibility, privacy, and beverage industry regulations.
        - >-
          Provided subject matter expertise, feature scoping, and client-based
          communication for third party software vendors.
        - >-
          Trained staff on accessibility standards, basic HTML and CSS concepts,
          and A/B testing in order to deliver user-focused and objective-based
          web products.
        - >-
          Organized a quality assurance procedure for site launches that
          accurately detailed issues for engineers while providing two-way
          communication channels between clients and internal staff.
        - >-
          Developed Jekyll and Wordpress sites and integrated e-commerce, CMS,
          and CRM solutions.
    - daterange: February 2018 - July 2020
      company: Arcadia
      title: Web Product Manager
      text:
      tasks:
        - >-
          Led and implemented processes for A/B testing based on qualitative and
          quantitative research and bayesian statistics in order to achieve user
          acquisition KPIs as part of the marketing team.
        - >-
          Ensured scientific viability, integrity of experimentation, and
          baseline requirements in order to efficiently manage simultaneous
          tests on multiple-platforms and reported findings to cross-department
          stakeholders in communications and product.
        - >-
          Created user-friendly analysis reports which provided experiment
          conditions, data controls and variables, bayesian analysis of
          results,  and clear next steps for further conversion rate
          optimization.
        - >-
          Managed and reliably translated flow of information with
          communications, software engineers, designers, data engineers, and
          marketing into agile methodology for the creation of front end
          applications on an enterprise scale website.
        - >-
          Acted as the technical representative of the marketing team for
          large-scale, multidisciplinary initiatives for the organization and
          external software vendors.
        - >-
          Ensured organizational branding was standardized and implemented
          across all properties of an enterprise website, blog, and support
          center for multiple brand redesigns.
        - >-
          Developed a conversion tracking solution with Google Tag Manager for
          simple integration of tracking services on digital, print, and
          television campaigns and ensured accuracy in cross-platform
          acquisition channels.
        - >-
          Developed, optimized, and maintained the Jekyll website and blog and
          Zendesk support center for a renewable energy startup.
    - daterange: December 2015 - February 2018
      company: Democratic National Committee
      title: Frontend Developer
      text:
      tasks:
        - >-
          Served as the frontend representative of the engineering team for
          digital and communications teams through translating Democratic Party
          initiatives and objectives into frontend applications and
          communicating needs to backend and data engineers.
        - >-
          Developed new features for and maintained the enterprise-level website
          for the Democratic Party.
        - >-
          Implemented and participated in an agile methodology for the quick
          development and quality assurance of rapid response microsites and
          frontend applications.
        - >-
          Developed a reusable website template for rapid response microsites,
          complete with a CMS and compliant with accessibility, campaign finance
          laws, and legacy browsers.
    - daterange: December 2014 – December 2015
      company: Freelance
      title: Web Developer
      text:
      tasks:
        - >-
          Improved the CMS and reorganized content for the DCPCSB website for
          improved user experience of content editors and users.
        - >-
          Created an elementary science curriculum to use in conjunction with
          i-Tree software and designed and developed the website for the
          project.
        - >-
          Designed and developed Wordpress and Drupal websites that enabled
          clients to manage their content.
        - >-
          Provided subject matter expertise on content management,
          accessibility, and UX to non-technical users in the form of written
          documentation and in-person training.
    - daterange: March 2013 – November 2014
      company: OSSE DC
      title: Web Communications Specialist
      text:
      tasks:
        - >-
          Led and implemented the reorganization of an enterprise Drupal site,
          which resulted in decreased bounce rates and increased organic search
          traffic.
        - >-
          Developed and trained staff on no-cost, easy-to-use solutions for
          public facing programs needing event management, assessments/surveys,
          public commenting, and mapping.
        - >-
          Managed and created content for agency social media properties and
          developed the weekly newsletter.
skills:
  title: Relevant Skills
  text: I have listed the You can see a full list of my skills on my resumé
  categories:
    - title: Code
      list:
        - title: HTML
          startdate: 2013
        - title: CSS
          startdate: 2013
        - title: SASS/SCSS
          startdate: 2013
        - title: Javascript
          startdate: 2014
        - title: jQuery
          startdate: 2014
        - title: React
          startdate: 2022
    - title: Platforms
      list:
        - title: Wordpress
          startdate: 2014
          enddate: 2019
        - title: Drupal
          startdate: 2013
          enddate: 2016
        - title: Jekyll
          startdate: 2017
        - title: Gatsby
          startdate: 2022
        - title: Shopify
          startdate: 2015
          enddate: 2018
        - title: Zendesk
          startdate: 2018
          enddate: 2020
        - title: Salesforce
          startdate: 2023
    - title: Data
      list:
        - title: Google Analytics
          startdate: 2013
        - title: Google Tag Manager
          startdate: 2017
        - title: Bayesian Statistics
          startdate: 2018
    - title: UX
      list:
        - title: Conversion Rate Optimization
          startdate: 2018
        - title: A/B Testing
          startdate: 2018
        - title: Accessibility Compliance
          startdate: 2013
        - title: Google Optimize
          startdate: 2018
        - title: Figma
          startdate: 2018
        - title: Adobe XD
          startdate: 2020
    - title: Leadership
      list:
        - title: Project Management
          startdate: 2013
        - title: Product Management
          startdate: 2013
        - title: Engineering Lead
          startdate: 2020
        - title: Content Management
          startdate: 2013
        - title: Enterprise Website Management
          startdate: 2013
recruiters:
  title: For Recruiters
  text: >-
    I've listed all the info that you will need in order to represent me for a
    job. I'm aware recruiters and HR professionals love nothing more than a PDF
    copy of a resumé when all the same details have been listed previously so I
    added a download button below for your convenience.
  info:
    - title: Full Name
      text: Edward A Cupaioli
    - title: Hourly Rate
      text: $75 for W2, $100 for 1099
    - title: Minimum Desired Salary
      text: $120,000
    - title: Date of Birth (MM/DD)
      text: 09/21
    - title: US Work Authorization
      text: Natural born US citizen
    - title: Location/Timezone
      text: Sacramento, CA/Pacific
    - title: Availability
      text: Immediate
    - title: Education/Year
      text: Bachelor of Arts - Political Science/2009
  resume:
    title: Download resumé
    link: /resume/
footer-cta:
  title: Let's chat
  text: >-
    I'm available 9am to 5pm Pacific Monday through Friday. Schedule something
    with me.
  button:
    link: '#open-form'
    text: Schedule a call
---
<main id="about-page">
  <section id="hero" class="blue">
    <div class="inner-section">
      <h1 class="hero-title editable">
 	<!--base32-PQSSK7BFG5BCKN2CEUZDA4DBM5SS42LOORZG6LTUNF2GYZJFGIYCKN2EEU3UI7BFEV6A====-base32-->
 </h1>
      <img class="hero-image" src="{{ page.intro.headshot.image }}" alt="{{ page.intro.headshot.alt }}" />
      <div class="hero-text">
      {{ page.intro.text | markdownify }}
      </div>
      {% include button-row.html link="#open-contact" text="Get in touch" %}
    </div>
  </section>
  <section id="experience-section">
    <div class="inner-section">
      <h2 class="section-title">{{ page.experience.title }}</h2>
      <div class="section-text">{{ page.experience.text }}</div>
      
      <div class="timeline">
        {% for experience in page.experience.timeline %}
        <div class="experience-block">
          <div class="date-col">
            <div class="daterange heading-5">{{ experience.daterange }}</div>
          </div>
          <div class="details-col">
            <div class="title heading-4">{{ experience.title }}</div>
            <div class="company">{{ experience.company }} <span class="mobile-daterange">| {{ experience.daterange }}</span></div>
            <div class="task-list">
              {% for task in experience.tasks %}
              <div class="task">
                {{ task }}
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      {% include button-row.html link="/resume/" text="Download resumé" target="_blank" %}
    </div>
  </section>
  <section id="skills-section" class="grey">
    <div class="inner-section">
      <h2 class="section-title">{{ page.skills.title }}</h2>
      <div class="skills-grid">
        {% for category in page.skills.categories %}
        <div class="skill-category">
          <h3 class="category-title">{{ category.title }}</h3>
          <div class="skills-list">
            {% assign currentyear = site.time | date: '%Y' %}
            {% assign firstyear = category.list | sort: "startdate" | first  %}
            {% assign baseline = currentyear | minus: firstyear.startdate %}
            {% for skill in category.list %}
            {% if skill.enddate and skill.enddate.size > 0 %}
                {% assign skill-yrs =  skill.enddate | minus: skill.startdate %}
                {% else %}
                {% assign skill-yrs =  currentyear | minus: skill.startdate %}
                {% endif %}
            <div class="skill">
              <div class="skill-title-block">
                <div class="skill-label heading-5">{{ skill.title }}</div>
                <div class="skill-years">
                  {% if skill-yrs <= 1  %}
                  1 year
                  {% else %}
                  {{ skill-yrs }} years
                  {% endif %}
                </div>
              </div>
              
              <div class="skill-bar">
                {% assign skill-pct = skill-yrs | times: 100.0 |  divided_by: baseline %}
                {% if skill-pct == 0 %}
                <span class="bar" style="width: 10%"></span>
                {% else %}
                <span class="bar" style="width: {{skill-pct}}%"></span>
                {% endif %}
              </div>
              
            </div>
            {% endfor %}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  <section id="recruiters">
    <div class="inner-section">
      <h2 class="section-title">{{ page.recruiters.title }}</h2>
      <div class="section-text">
        {{ page.recruiters.text | markdownify }}
      </div>
      <div class="info-list">
        {% for info in page.recruiters.info %}
        <div class="info-block">
          <div class="heading-4 info-title">{{ info.title }}</div>
          <div class="info-text">{{ info.text }}</div>
        </div>
        {% endfor %}
      </div>
      {% include button-row.html link=page.recruiters.resume.link text=page.recruiters.resume.title target="_blank" %}
    </div>
  </section>
  {% include footer-cta.html %}
</main>