---
_inputs:
  skills.categories:
    type: array
  intro.title:
    type: text
title: About Me
permalink: /about/
layout: default
css: about
intro:
  title: About me
  text: >-
    User-experience led and data-driven web developer with over a decade of
    experience as a technical lead in marketing, e-commerce, and
    non-profit/government industries.
  headshot:
    image: /images/ed-cupaioli-color.png
    alt: Headshot of Ed Cupaioli
experience:
  title: My Experience
  text:
  timeline:
    - daterange: May 2021 - Present
      company: Ed Cupaioli LLC
      title: Web Consultant
      text:
      tasks:
        - >-
          Gathered product requirements from clients, created roadmaps, planned
          projects according to budgets, and refined and assigned tasks to
          designers and developers. 
        - >-
          Evaluated feature needs and pain points analysis for content
          management and user experience.
        - >-
          Established and ran daily standups, wrote technical documentation for
          engineers and clients, and designed and implemented solutions for IAM,
          CMS, and CRM.
    - daterange: July 2020 - May 2021
      company: eStreet
      title: Director of Engineering
      text:
      tasks:
        - >-
          Established SDLC processes for digital projects and products in order
          to streamline product launches and proactively prevent bugs. 
        - >-
          Oversaw the discovery and design process, vetted vendors, managed
          engineers, and ensured delivery was high-quality and WCAG compliant.
        - >-
          Managed A/B tests and implemented analytics solutions for eCommerce
          clients. 
        - >-
          Gathered requirements, wrote documentation, and project managed the
          integration of tax compliance software.
    - daterange: February 2018 - July 2020
      company: Arcadia
      title: Web Developer
      text:
      tasks:
        - >-
          Established agile methodology in order to manage and continuously
          improve three distinct products for Arcadia: website, blog, and
          support center.
        - >-
          Analyzed website data, user interviews, and screen recordings to
          improve conversion rates in accordance with user growth KPIs. 
        - >-
          Created a reporting template, collaborated with the data team to
          determine a Bayesian method to evaluate experiments, and created a
          cross-platform tracking solution with GTM.
        - >-
          Worked closely with marketing, product, and data teams to design and
          implement frontend tools for user engagement and closing gaps in user
          flows.
    - daterange: December 2015 - February 2018
      company: Democratic National Committee
      title: Frontend Developer
      text:
      tasks:
        - >-
          Led the development of the official Democratic Party website and
          microsites.
        - >-
          Translated designs into responsive websites, developed frontend tools,
          and created rapid-response templates.
        - >-
          Supported volunteer, officer election, and voter activities with CMS
          and CRM solutions.
    - daterange: December 2014 – December 2015
      company: Consultant
      title: Web Developer
      text:
      tasks:
        - >-
          Designed and developed Wordpress and Drupal websites for clients in
          education, non-profit, and political sectors. 
        - >-
          Gathered product requirements, analyzed data, and worked closely with
          stakeholders in order to optimize content management and user
          experience for an enterprise website.
        - >-
          Led training sessions on content management, SEO, and user experience
          for non-technical audiences.
    - daterange: March 2013 – November 2014
      company: OSSE DC
      title: Web Communications Specialist
      text:
      tasks:
        - >-
          Managed the agency's Drupal website, social media, blog, and
          SharePoint site.
        - >-
          Reorganized the website's content, resulting in a significant drop in
          bounce rates and an increase in search engine referral traffic.
        - >-
          Developed responsive email templates for stakeholder newsletters and
          public outreach.
        - >-
          Implemented Eventbrite and Google Forms solutions for agency programs
          and public engagement.
        - >-
          Established an editorial process for timely and organized website
          updates.
skills:
  title: Relevant Skills
  text: I have listed the You can see a full list of my skills on my resumé
  categories:
    - title: Code
      list:
        - title: HTML
          startdate: 2013
        - title: CSS
          startdate: 2013
        - title: SASS/SCSS
          startdate: 2013
        - title: Javascript
          startdate: 2014
        - title: jQuery
          startdate: 2014
        - title: React
          startdate: 2022
    - title: Platforms
      list:
        - title: Wordpress
          startdate: 2014
          enddate: 2019
        - title: Drupal
          startdate: 2013
          enddate: 2016
        - title: Jekyll
          startdate: 2017
        - title: Gatsby
          startdate: 2022
        - title: Shopify
          startdate: 2015
          enddate: 2018
        - title: Zendesk
          startdate: 2018
          enddate: 2020
        - title: Salesforce
          startdate: 2023
    - title: Data
      list:
        - title: Google Analytics
          startdate: 2013
        - title: Google Tag Manager
          startdate: 2017
        - title: Bayesian Statistics
          startdate: 2018
    - title: UX
      list:
        - title: Conversion Rate Optimization
          startdate: 2018
        - title: A/B Testing
          startdate: 2018
        - title: Accessibility Compliance
          startdate: 2013
        - title: Google Optimize
          startdate: 2018
        - title: Figma
          startdate: 2018
        - title: Adobe XD
          startdate: 2020
    - title: Leadership
      list:
        - title: Project Management
          startdate: 2013
        - title: Product Management
          startdate: 2013
        - title: Engineering Lead
          startdate: 2020
        - title: Content Management
          startdate: 2013
        - title: Enterprise Website Management
          startdate: 2013
recruiters:
  title: For Recruiters
  text: >-
    I've listed all the info that you will need in order to represent me for a
    job. If you need any more information, please email me at
    [ed.cupaioli@gmail.com](mailto:ed.cupaioli@gmail.com).
  info:
    - title: Full Name
      text: Edward A Cupaioli
    - title: Hourly Rate
      text: $75 for W2, $100 for C2C
    - title: Minimum Desired Salary
      text: $120,000
    - title: Date of Birth (MM/DD)
      text: 09/21
    - title: US Work Authorization
      text: Natural born US citizen
    - title: Location/Timezone
      text: Sacramento, CA/Pacific
    - title: Availability
      text: April 2024
    - title: Education/Year
      text: Bachelor of Arts/2009
  links:
    - title: LinkedIn
      url: https://www.linkedin.com/in/ed-cupaioli-10a9849/
    - title: GitHub
      url: https://github.com/ecupaio
    - title: Website
      url: https://edcupaioli.com/
  resume:
    title: Download resumé
    link: /resume/
footer-cta:
  title: Let's chat
  text: >-
    I'm available 9am to 5pm Pacific Monday through Friday. Schedule something
    with me.
  button:
    link: '#open-form'
    text: Schedule a call
---
<main id="about-page">
  <section id="hero" class="blue">
    <div class="inner-section">
      <h1 class="hero-title" data-cms-bind="#intro.title">{{ page.intro.title }}</h1>
      <img class="hero-image" src="{{ page.intro.headshot.image }}" alt="{{ page.intro.headshot.alt }}" />
      <div class="hero-text" data-cms-bind="#intro.text">
        {{ page.intro.text | markdownify }}
      </div>
      {% include button-row.html link="#open-contact" text="Get in touch" %}
    </div>
  </section>
  <section id="experience-section">
    <div class="inner-section">
      <h2 class="section-title">{{ page.experience.title }}</h2>
      <div class="section-text">{{ page.experience.text }}</div>
      
      <div class="timeline">
        {% for experience in page.experience.timeline %}
        <div class="experience-block">
          <div class="date-col">
            <div class="daterange heading-5">{{ experience.daterange }}</div>
          </div>
          <div class="details-col">
            <div class="title heading-4">{{ experience.title }}</div>
            <div class="company">{{ experience.company }} <span class="mobile-daterange">| {{ experience.daterange }}</span></div>
            <div class="task-list">
              {% for task in experience.tasks %}
              <div class="task">
                {{ task }}
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      {% include button-row.html link="/resume/" text="Download resumé" target="_blank" %}
    </div>
  </section>
  <section id="skills-section" class="grey">
    <div class="inner-section">
      <h2 class="section-title">{{ page.skills.title }}</h2>
      <div class="skills-grid">
        {% for category in page.skills.categories %}
        <div class="skill-category">
          <h3 class="category-title">{{ category.title }}</h3>
          <div class="skills-list">
            {% assign currentyear = site.time | date: '%Y' %}
            {% assign firstyear = category.list | sort: "startdate" | first  %}
            {% assign baseline = currentyear | minus: firstyear.startdate %}
            {% for skill in category.list %}
            {% if skill.enddate and skill.enddate.size > 0 %}
                {% assign skill-yrs =  skill.enddate | minus: skill.startdate %}
                {% else %}
                {% assign skill-yrs =  currentyear | minus: skill.startdate %}
                {% endif %}
            <div class="skill">
              <div class="skill-title-block">
                <div class="skill-label heading-5">{{ skill.title }}</div>
                <div class="skill-years">
                  {% if skill-yrs <= 1  %}
                  1 year
                  {% else %}
                  {{ skill-yrs }} years
                  {% endif %}
                </div>
              </div>
              
              <div class="skill-bar">
                {% assign skill-pct = skill-yrs | times: 100.0 |  divided_by: baseline %}
                {% if skill-pct == 0 %}
                <span class="bar" style="width: 10%"></span>
                {% else %}
                <span class="bar" style="width: {{skill-pct}}%"></span>
                {% endif %}
              </div>
              
            </div>
            {% endfor %}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  <section id="recruiters">
    <div class="inner-section">
      <h2 class="section-title">{{ page.recruiters.title }}</h2>
      <div class="section-text">
        {{ page.recruiters.text | markdownify }}
      </div>
      <div class="info-content">
        <div class="info-list">
          {% for info in page.recruiters.info %}
          <div class="info-block">
            <span class="info-title">{{ info.title }}</span>:&nbsp;
            <span class="info-text">{{ info.text }}</span>
          </div>
          {% endfor %}
        </div>
        <div class="link-list">
          {% for link in page.recruiters.links %}
          <div class="link-item">
            <span class="link-title bold">{{ link.title }}:</span>&nbsp;<a href="{{ link.url }}">{{ link.url }}</a>
          </div>
          {% endfor %}
        </div>
        {% include button-row.html link=page.recruiters.resume.link text=page.recruiters.resume.title target="_blank" %}
      </div>
      
    </div>
  </section>
  {% include footer-cta.html %}
</main>