---
title: Home
layout: default
css: home
swiper: true
permalink: /
scripts:
  - home
  - portfolio
services:
  - title: Web Development
    subtitle: Build my website
    text: >-
      Get a fast, reliable website that you can manage easily. I give you the
      tools to edit every piece of content on your site, plus security,
      accessibility, and low-cost hosting.
    cta:
      text: Web Development Services &rarr;
      url: /service/web-development/
    image: /images/web-dev.svg
    icon: <i class="fa fa-laptop-code"></i>
  - title: Analytics
    subtitle: Track events on my website
    text: >-
      I handle everything from planning your conversion funnel to installing
      tracking pixels. Just let me know what you want to track and consider it
      done. 
    cta:
      text: Analytics Services &rarr;
      url: /service/analytics/
    image: /images/optimization.svg
    icon: <i class="fa fa-chart-line"></i>
  - title: Product Management
    subtitle: Manage my website
    text: >-
      Your website is your most loyal employee, working 24/7 365 days a year.
      Let's give it some goals and achieve them through continuous optimization.
    cta:
      text: Product Management Services &rarr;
      url: /service/product-management
    image: /images/training.svg
    icon: <i class="fa fa-chalkboard-teacher"></i>
skills:
  - title: Web Development
    items:
      - 'Websites '
      - E-commerce
      - Integrations
  - title: UX
    items:
      - Research & Experiments
      - Design
      - Engineering
  - title: Training
    items:
      - Content Management
      - Analytics
      - 3rd party software
about: >-
  With over 12 years experience building and optimizing websites in non-profit,
  government, e-commerce, and start-ups, I'm ready for whatever challenge comes
  next. My hybrid nature makes me ideal for under-staffed teams that need one
  person that can truly do it all. 


  I'm based out of Sacramento, CA with my lovable mutt and my brilliant wife,
  [Dr. Jess Sanders](https://jessicasandersphd.com/).
---
<main id="home">
  <section class="home-hero">
    <div class="inner-section">
      <div class="home-hero__text">
        <h1>Ed Cupaioli</h1>
        <div class="heading-4 home-hero__text-item">Web Development</div>
        <div class="heading-4 home-hero__text-item">Analytics</div>
        <div class="heading-4 home-hero__text-item">Product Management</div>
      </div>
      <div class="btn-row">
        <a class="btn" href="#open-form">Work with me</a>
      </div>
    </div>
  </section>
  <section id="services">
    <div class="inner-section">
      <h2>Services</h2>
      {% include features-z-pattern.html features=page.services %}
      {% include form-button.html location="Services Section" %}
    </div>
  </section>
  {% include portfolio-section.html section_id="portfolio" %}
  <section id="studies">
    <div class="inner-section">
      <h2>Studies</h2>
      <div id="studies-slider">
        <div class="swiper-wrapper">
          {% for study in site.studies %}
          <div class="study-slide swiper-slide">
            <div class="study">
              <div class="image-col">
                <div class="image-block">
                  <img src="{{ study.intro.image }}" alt="image of {{ study.title }}" class="study-image" />
                </div>
              </div>
              <div class="text-col">
                <div class="text-content">
                  <h2 class="study-title">
                    {{ study.title }}
                  </h2>
                  <div class="study-obj-list">
                    {% for obj in study.intro.objectives %}
                    <div class="obj">{{ obj }}</div>
                    {% endfor %}
                  </div>
                  <div class="study-link-block">
                    <a class="btn study-link" href="{{ study.url }}">Read study</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    </div>
  </section>
  <section id="about" class="grey">
    <div class="inner-section">
      <h2>About me</h2>
      
        {{ page.about | markdownify }}
        {% include button-row.html text="Meet me" link="/about/" %}
    </div>
  </section>
  <section id="blog-posts">
    <div class="inner-section">
      <h2>Blog</h2>
      <div class="posts-list">
        {% for post in site.posts limit: 3 %}
        <div class="post-col">
          <div class="post">
            <div class="post-content">
              <div class="post-title heading-4"><a href="{{ post.url }}">{{ post.title }}</a></div>
              <div class="post-tags">
                {% for tag in post.tags %}
                <a class="post-tag" href="/blog/?tag={{ tag }}">{{ tag }}</a>{% unless forloop.last %},{% endunless %}
                {% endfor %}
              </div>
            </div>
            
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="btn-row">
        <a class="btn" href="/blog/">View blog</a>
      </div>
    </div>
  </section>
  {% include footer-cta.html  %}
</main>
