---
title: Home
layout: default
css: home
permalink: /
scripts: 
- home
services: 
- title: Web Development
  id: web-dev
  action: Build my website
  text: |-
    Get a fast, reliable website that you can manage easily. I give you the tools to edit every piece of content on your site, plus security, accessibility, and little to no-cost hosting. 

    [Learn more &rarr;](/web-development/)
  image: svg/web-dev.svg
  icon: <i class="fa fa-laptop-code"></i>
- title: Optimization
  id: optimization
  action: Improve my website
  text: |-
    Whether you’re looking for a performance upgrade or you want to increase sales, I will help bring your website up to speed. From SEO and A/B testing to bug fixes and tracking snippets, I’m here to help you achieve your goals. 

    [Learn more &rarr;](/optimization/)
  image: svg/optimization.svg
  icon: <i class="fa fa-chart-line"></i>
- title: Training
  id: training
  action: Help me with my website
  text: |-
    Did you get a website with everything you want but the manual? No problem! I’ll help you be in control of your content and integrations. 

    [Learn more &rarr;](/training/)
  image: svg/training.svg
  icon: <i class="fa fa-chalkboard-teacher"></i>
skills:
  - title: HTML
    category: Code
  - title: CSS
    category: Code
  - title: JS
    category: Code
  - title: Research & Analytics
    category: UX
  - title: Design
    category: UX
  - title: Engineering
    category: UX
about: |-
  I make websites and I make sure they're effective. I can design the layout, code the site, and optimize it through A/B testing. All I care about is raising conversion rates. Currently, I am the managing an web development and UX department at [eStreet.Co](https://estreet.co/).

  I'm based out of Sacramento, CA with my two lovable mutts and my brilliant wife, [Dr. Jess Sanders](https://jessicasandersphd.com/).
---
<main id="home">
  <section id="hero">
    <div class="inner-section">
      <div class="hero-text">
        <h1>Ed Cupaioli</h1>
        <h4 class="text-item">UX Researcher, Designer, Engineer</h4>
        <h4 class="text-item">Web Developer</h4>
        <h4 class="text-item">Tech Trainer</h4>
        
      </div>
      <div class="btn-row">
        <a class="btn" href="#open-form">Work with me</a>
      </div>
    </div>
  </section>
  <section id="services">
    <div class="inner-section">
      
      <h2>Services</h2>
      <div class="services-list">
        {% for service in page.services %}
        <div class="service {% cycle 'odd', 'even' %}">
          <div class="service-col text-col">
            <div class="service-content">
              <h3 class="service-title">{{ service.title }}</h3>
              <h4 class="service-action">{{ service.icon }}&nbsp;&nbsp;{{ service.action }}</h4>
              <div class="mobile-image">
                {% include {{service.image}} %}  
              </div>
              <div class="service-text">
                {{ service.text | markdownify }}
              </div>
            </div>
          </div>
          <div class="service-col image-col">
            <div class="service-image">
              {% include {{service.image}} %}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="btn-row">
        <a class="btn" href="#open-form">Work with me</a>
      </div>
    </div>
  </section>
  {% include separator.html %}
  <section id="portfolio">
    <div class="inner-section">
      <h2>Portfolio</h2>
      <div class="pure-g portfolio-grid">
        {% assign projects = site.projects | sort: 'date' | reverse %}
        {% for project in projects %}
        <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 project-col">
          <div class="col-content" >
            <img class="project-image" src="/images/{{ project.image[0]}}">
            <h4 class="project-title">{{ project.title }}</h4>
            <div class="hidden">
              <div class="project-link">
                {{ project.link }}
              </div>
              <div class="project-images">
                {{ project.image | split: ''}}
              </div>
              <div class="project-text">
                {{ project.content | markdownify }}
              </div>
              <div class="project-tech">
                {% for tech in project.tech %}
                {{ tech }}{% unless forloop.last %},{% endunless%}
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    
  </section>
  <section id="about">
    <div class="inner-section">
      <h2>About me</h2>
      <div class="pure-g">
        <div class="pure-u-1 pure-u-md-1-2 skills-col">
          <div class="pure-g skill-grid">
            <div class="skill-category pure-u-1 pure-u-sm-1-2">
              <h3>Code</h3>
              {% for skill in page.skills %}
                {% if skill.category == 'Code' %}
                <div class="skill">
                  {{ skill.title }}
                </div>
                {% endif %}
              {% endfor %}
              <div class="skill-bin"></div>
            </div>
            <div class="skill-category pure-u-1 pure-u-sm-1-2">
              <h3>UX</h3>
              {% for skill in page.skills %}
                {% if skill.category == 'UX' %}
                <div class="skill">
                  {{ skill.title }}
                </div>
                {% endif %}
              {% endfor %}
              <div class="skill-bin"></div>
            </div>
          </div>

        </div>
        <div class="pure-u-1 pure-u-md-1-2 text-col">
          {{ page.about | markdownify }}
        </div>
      </div>
    </div>
  </section>
  <section id="contact">
    <div class="inner-section">
      <h2>Contact</h2>
      <form id="contact-form">
        <div class="form-body">
          <div class="form-input">
            <input type="text" required name="entry.629291182"/>
            <span class="placeholder">Name</span>
          </div>
          <div class="form-input">
            <input type="email" required name="entry.1897827418" />
            <span class="placeholder">Email</span>
          </div>
          <div class="form-input">
            <textarea type="text" name="entry.501068258" placeholder="What do you need help with?"></textarea>
          </div>
          <button type="submit">
            Submit
          </button>
        </div>
        <div class="form-success">
          <div class="success-text"> 
            <h3>I'll be in touch with you soon.</h3>
            <a href="/blog/google-form-front-end/">How this form works</a>
          </div>
        </div>
      </form>
    </div>
  </section>
</main>
<script type="text/javascript" src="/js/min/contact-form.min.js"></script>
