<div class="contact-form-body">

    <div class="contact-title">
        <h1>Contact</h1><div class="contact-close"><i class="fa fa-times"></i></div>

    </div>
    <div class="form-inner">
        <form class="signup-form" id="contact-form" action="" method="">
            <p>Use the form below to shoot me a line.</p>
            <div class="form-input">
                    <!-- Name -->
                    <input type="text" required placeholder="Name" class="quantumWizTextinputPaperinputInput exportInput contact-name" jsname="YPqjbf" autocomplete="off" tabindex="0" aria-label="Name" aria-describedby="i.desc.1440051990 i.err.1440051990" name="entry.629291182" value="" dir="auto" data-initial-dir="auto" data-initial-value="">
            </div>
            <div class="form-input">

                    <!-- Email -->
                    <input type="email" placeholder="Email" required class="quantumWizTextinputPaperinputInput exportInput contact-email" jsname="YPqjbf" autocomplete="off" tabindex="0" aria-label="Email" aria-describedby="i.desc.484016637 i.err.484016637" name="entry.1897827418" value="" dir="auto" data-initial-dir="auto" data-initial-value="">

            </div>
            <div class="form-input">
                    <!-- Text -->
                    <textarea class="quantumWizTextinputPapertextareaInput exportTextarea text-area" placeholder="What can I do for you?" jsname="YPqjbf" data-rows="1" tabindex="0" aria-label="Info" jscontroller="gZjhIf" jsaction="input:Lg5SV;ti6hGc:XMgOHc;rcuQ6b:WYd;" name="entry.501068258" dir="auto" data-initial-dir="auto" data-initial-value="" ></textarea>

            </div>
            <div class="form-input">
                    <!-- Hidden Fields -->
                    <input type="hidden" name="draftResponse" value="[null,null,&quot;-1457346125455357560&quot;]">
                    <input type="hidden" name="pageHistory" value="0"><input type="hidden" name="fbzx" value="-1457346125455357560">
                    <input type="hidden" name="fvv" value="1">
                    <!-- Submit -->
                    <input class="submit pure-button" type="submit" class="pure-button" name="submit" value="Submit" onclick="ga('send', 'event', 'Contact-Form', 'Click', 'Submit');">
            </div>
        </form>
        <div class="form-success">
            <h3>Thanks!</h3>
            <p>Your response has been recorded. Feel free to follow up with me via phone or email.</p>
            <div class="contact-alt">
                <div class="contact-info">
                    <a class="pure-button" href="tel:+14698673438" onclick="ga('send', 'event', 'Contact-Direct', 'Click', 'Phone');">
                        <div class="contact-icon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="contact">469.867.3438</div>
                    </a>
                    <a class="pure-button" href="mailto:ecupaio@gmail.com" onclick="ga('send', 'event', 'Contact-Direct', 'Click', 'Email');">
                        <div class="contact-icon">
                            <i class="fa fa-envelope"></i>
                        </div>
                        <div class="contact">ecupaio@gmail.com</div>
                    </a>
                    <a class="pure-button" href="{{ base }}/Ed_Cupaioli.vcf">
                        <div class="contact-icon">
                            <i class="fa fa-address-card-o"></i>
                        </div>
                        <div class="contact">Save Contact Info</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
