<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-THQC7Q9');</script>
<!-- End Google Tag Manager -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="theme-color" content="#3e73cb">
<meta charset="utf-8">
{% if page.url == "/404.html" %}
<meta http-equiv="refresh" content="3; url=/">
{% endif %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Meta title, text, and image -->
{% if page.title %}
{% capture title %}
{{ page.title }} | Ed Cupaioli
{% endcapture %}

{% else %}
{% assign title = site.title %}
{% endif %}

{% if page.description %}
{% assign title = page.description %}
{% else %}
{% assign description = site.description %}
{% endif %}

{% if page.layout == 'blog-post' %}

{% assign description = page.excerpt | strip_html %}
{% endif %}

{% if page.meta_img %}
{% assign meta_img = page.meta_img %}
{% else %}
{% assign meta_img = site.meta_img %}
{% endif %}

<title>{{ title }}</title>
<meta content="{{ description }}" name="description">
<link rel="canonical" href="{{ site.url }}{{ page.url | remove: ".html" }}">
<!-- favicon -->
<link rel="shortcut icon" type="image/png" href="/images/favicon.png">
<!-- Facebook Meta -->
<meta property="og:url" content="{{ site.url }}{{ page.url | remove: ".html" }}">
<meta property="og:type" content="website">
<meta property="og:title" content="{{ title }}">
<meta property="og:description" content="{{ description }}">
<meta property="og:image" content="{{ meta_img }}">
<!-- Twitter Meta -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="{{ site.twitter }}">
<meta name="twitter:creator" content="{{ site.twitter }}">
<meta name="twitter:title" content="{{ title }}">
<meta name="twitter:description" content="{{ description }}">
<meta name="twitter:image" content="{{ meta_img }}">
<!-- Pure CSS-->
<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/base-min.css">
<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-min.css">
<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
<!-- CSS -->
<!-- Base CSS -->
{%- capture base-css -%}
/css/style.min.css?{{site.time | date: '%s'}}
{%- endcapture -%}
<link href="{{ base-css | relative_url }}" rel="stylesheet" type="text/css">
<!-- Layout CSS -->
{% if layout.css %}
{%- capture css-path -%}
  /css/{{ layout.css }}.min.css?{{site.time | date: '%s'}}
{%- endcapture -%}
<link rel="stylesheet" href="{{ css-path | trim | relative_url }}">
{% endif %}
<!-- Page CSS --> 
{% if page.css %}
{%- capture css-path -%}
  /css/{{ page.css }}.min.css?{{site.time | date: '%s'}}
{%- endcapture -%}
<link rel="stylesheet" href="{{ css-path | trim | relative_url }}">
{% endif %}
<!-- Font -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
<!-- Font Awesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<!-- Jquery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
