{% include base.html %}
<div id="portfolio">
    <div class="pure-g portfolio-grid">
        {% assign sorted-projects = site.projects | sort:"date" | reverse %}
        {% for project in sorted-projects limit: 9 %}
        <div class="pure-u-1 pure-u-md-1-3 project-col">
            <div class="project-inner">
                <div class="project ">
                    <img src="{{ base }}/min_images/{{ project.img[0] }}" class="project-img">
                    <div class="project-name">{{ project.title }}</div>
                    <div class="project-info">
                        <div class="close-project"><i class="fa fa-times"></i></div>
                        <div class="info-inner">
                            <a class="pure-button info" href="{{ base }}{{ project.url }}" onclick="ga('send', 'event', 'Portfolio', 'Click', 'More Info');">more info</a>
                            {% if project.link %}
                            <a class="pure-button see-site" href="{{ project.link }}" target="_blank" onclick="ga('send', 'event', 'Portfolio', 'Click', 'View Site');">See Site</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% for project in sorted-projects offset: 9 %}
        <div class="pure-u-1 pure-u-md-1-3 project-col not-loaded">
            <div class="project-inner">
                <div class="project ">
                    <img data-project-img="{{ base }}/min_images/{{ project.img[0] }}" src="" class="project-img">
                    <div class="project-name">{{ project.title }}</div>
                    <div class="project-info">
                        <div class="close-project"><i class="fa fa-times"></i></div>
                        <div class="info-inner">
                            <a class="pure-button info" href="{{ base }}{{ project.url }}" onclick="ga('send', 'event', 'Portfolio', 'Click', 'More Info');">more info</a>
                            {% if project.link %}
                            <a class="pure-button see-site" href="{{ project.link }}" target="_blank" onclick="ga('send', 'event', 'Portfolio', 'Click', 'View Site');">See Site</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
