<div id="nav-toggle">
  <div class="toggle-burger">
    <span class="toggle-line one"></span>
    <span class="toggle-line two"></span>
    <span class="toggle-line three"></span>
  </div>
</div>
<nav id="sidebar-nav">
  <ul class="nav-link-list">
    {% for nav in site.data.nav.main %}
    <li class="nav-link">
      <a class="text-link" href="{{ nav.url }}">{{ nav.title }}</a>
    </li>
    {% endfor %}
    <li class="nav-link">
      <a class="btn" href="#open-form" data-location="Menu">Work with me</a>
    </li>
  </ul>
</nav>
