<div class="project-overlay">
  <div class="overlay-content ">
    <div class="close-row">
      <span class="close-project-overlay">&times;</span>
    </div>
    <div class="info-title">
      <h3 class="selected-title"></h3>
      <div class="info-link">
        <a class="selected-link white" target="_blank" href="#">View <i class="fa fa-external-link"></i></a>
      </div>
    </div>
    <div class="slider-col">
      <div class="project-slider swiper">
        <div class="swiper-wrapper">
          
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
      <div class="scroller active">
          <div class="scroller-box">
            <span class="scroller-ball"></span>
          </div>
      </div>
    </div>
    <div class="project-info">
      <div class="selected-tech"></div>
      <div class="about-project">
      </div>
    </div>
  </div>
</div>
