<div class="project-overlay">

  <div class="overlay-content ">
    <div class="close-overlay">
      &times;
    </div>
    <div class="info-title">
      <h3 class="selected-title"></h3>
      <div class="info-link">
        <a class="selected-link" target="_blank" href="/">View <i class="fa fa-external-link"></i></a>
      </div>
    </div>
    <div class="slider-col">
      <div class="project-slider">
        <div class="slider-images">
        </div>
        <div class="slide-toggle prev">
          <i class="fa fa-angle-left"></i>
        </div>
        <div class="slide-toggle next">
          <i class="fa fa-angle-right"></i>
        </div>
      </div>
    </div>
    <div class="project-info">
      <div class="selected-tech"></div>
      <div class="about-project">
      </div>
    </div>

  </div>
</div>
