{% include base.html %}

    <h1>{{ page.title }}</h1>
    <div class="pure-g project-grid">
        <div id="project-slider" class="pure-u-1 pure-u-md-1-2">
            <div class="slider">
                {% for image in page.image %}
                    <div class="project-slide">
                        <div class="slide-img">
                            <img src="{{ base }}/min_images/{{ image }}"/>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <a class="view-site pure-button" target="_blank" href="{{ page.link }}" onclick="ga('send', 'event', 'Project', 'Click', 'View Site');">View Site <i class="fa fa-external-link"></i></a>
        </div>
        <div id="project-content" class="pure-u-1 pure-u-md-1-2">
            <div class="project-desc">{{ content }}</div>
            <div class="project-tech">
                <h3>Built with:</h3>
                <div class="tech-list">
                    <ul>
                        {% for tech in page.tech %}
                            <li>{{ tech }}</li>
                        {% endfor %}
                    </ul>
                </div>

            </div>
        </div>
    </div>
