<div class="project-overlay">
  <div class="overlay-content pure-g">
    <div class="project-info pure-u-1 pure-u-md-1-4">
      <div class="info-title">
        <h3 class="selected-title"></h3>
      </div>
      <div class="info-tech">
        <h5>Work:</h5>
        <div class="selected-tech"></div>
      </div>
    </div>
    <div class="slider-col pure-u-1 pure-u-md-3-4">
      <div class="about-project">

      </div>
      <div class="project-slider">
        <div class="slider-images">

        </div>
        <div class="slide-toggle prev">
          <i class="fa fa-angle-left"></i>
        </div>
        <div class="slide-toggle next">
          <i class="fa fa-angle-right"></i>
        </div>
      </div>

    </div>
  </div>
</div>
