{% include base.html %}

    <div markdown="1" id="resume-timeline">
        <h1>Resumé</h1>
        {% assign sorted-experience = site.experience | sort:"date" | reverse %}
        {% for experience in sorted-experience %}
            <div class="experience-block">
                <div class="experience-header">
                    <div class="org-logo">
                        <img class="logo-img" src="{{ base }}/min_images/{{ experience.org_logo }}">
                    </div>
                    <div class="experience-title">
                        <div class="title-position">{{ experience.title }}</div>
                        {% if experience.org %}
                        <div class="title-org">{{ experience.org }}</div>
                        {% endif %}

                    </div>
                    <span class="block-border"></span>
                </div>
                <div class="experience-details">
                    {{ experience.content }}
                </div>
            </div>
        {% endfor %}
    </div>

    <div id="paper-resume">
        <a class="pure-button" target="_blank" href="https://docs.google.com/document/d/1l-1GJuj4FbjXMw56JleAPw2gCv1_f0hvC1jKrNs2NA4/export?format=pdf">Printable Version</a>
    </div>
