<div class="schedule-overlay" > 
  <div class="schedule-overlay__body">
    <div class="schedule-overlay__close">
      <span class="schedule-overlay__close-btn">&times;</span>
    </div>
    <div class="schedule-overlay__copy">
      <div class="heading-2">Let's chat</div>
      <p>I'm online Monday through Friday, 9am to 5pm Pacific</p>
      <p>If no times are available, <a class="white" href="mailto:ed.cupaioli@gmail.com">send me an email</a></p>
    </div>
    <div class="schedule-overlay__form" id="calendly-embed">

    </div>
  </div>
</div>