<div id="services-form-overlay">
  <div class="close-row">
    <span id="close-form">&times;</span>
  </div>
  <form id="service-form">
    <div class="form-body">
      <h1 class="form-title">Work with me</h1>
      <div class="form-section" data-section="Get Started">
        <h2 class="section-title">How can I help?</h2>
        <div class="section-options">
          <div class="option" data-section="">
            <div class="option-icon"><i class="fa fa-laptop-code"></i></div>
            <h3 class="option-title"></h3>
            <div class="option-text"></div>
          </div>
          
        </div>
      </div>
    </div>
  </form>
</div>