//Custom Styles
//Body and Heading text Colors
$theme_body: #333;
$theme_body_link: $brand_dk_blue;
$theme_body_link_hover: darken($brand_dk_blue,20%);
$theme_heading:$brand_dk_blue; //Footer Colors
$theme_footer_bg: $brand_black;
$theme_footer_txt: $brand_white;
$copyright_link: $brand_dk_blue;
$copyright_link_hover: darken($brand_dk_blue,20%); //Header Colors
$theme_header_bg: rgba($brand_dk_blue, 0.8);
$theme_header_txt: $brand_dk_blue; //Button Colors
$theme_button_bg: $brand_dk_blue;
$theme_button_txt: $brand_white; //BSD Form Colors
$theme_form_bg: $brand_black;
$theme_form_txt: $brand_black;
$theme_form_btn_bg: $brand_dk_blue;
$theme_form_btn_txt: $brand_white; //Mobile Breakpoints
$size-large: 1024px;
$size-medium: 768px;
$size-small: 568px; //Padding for Sections and Grids
$gutter-padding: 0.5em 1em;
$header-padding: 1em;
$body-padding: 0.5em 3em;
$body-padding-mobile: 0.5em 1em;
$footer-padding: 1em 3em;
@import "mixins";
@include gridGutters($gutter-padding);
@include headerPadding($header-padding);
@include bodyPadding($body-padding);
@include footerPadding($footer-padding); //Start Theme Customizations below:
@mixin center_flex {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
}
$menu_width: 10em;

#sidebar-menu {
    width: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background: $brand_black;
    color: $brand_white;
    z-index: 9;
    @include custom_transition(width 0.5s ease);

    .sidebar-inner {
        margin-top: 4.5em;
        padding: 1em;
        text-align: center;

        a.menu-item {
            font-family: $header_font;
            text-transform: uppercase;
            font-weight: normal;
            color: $brand_white;
            font-size: 1.25em;
            margin-bottom: 0.5em;
            display: block;

            .item-u {
                height: 3px;
                background-color: $brand_white;
                transform: scale(0,1);
                -webkit-transform: scale(0,1);
                -moz-transform: scale(0,1);
                -ms-transform: scale(0,1);
                transform-origin: center center;
                -webkit-transform-origin: center center;
                -moz-transform-origin: center center;
                -ms-transform-origin: center center;
                @include transition;
            }

            &:hover {
                color: $brand_white;
                cursor: pointer;
                .item-u {
                    height: 3px;
                    transform: scale(1);
                    -webkit-transform: scale(1);
                    -moz-transform: scale(1);
                    -ms-transform: scale(1);
                    transform-origin: center center;
                    -webkit-transform-origin: center center;
                    -moz-transform-origin: center center;
                    -ms-transform-origin: center center;
                    @include transition;
                }
            }
        }
    }

    &.active {
        width: $menu_width;
    }
}

#wrapper {
    margin-left: 0;
    @include custom_transition(margin 0.5s ease);
    overflow: hidden;
    &.active {
        margin-left: $menu_width;
        @include bp-small($size-small) {
            margin-left: 0;
        }
    }
}

#header {
    top: 0;
    left: 0;
    left: 0;
    right: 0;
    z-index: 10;
    padding: 0;
    position: fixed;
    background-color: $brand_dk_blue;
    height: auto;
    min-height: 3em;
    text-transform: uppercase;
    a {
        color: $brand_white;
        font-size: 1em;
        font-family: $header_font;
    }

    .header-inner {
        text-align: right;
        height: 100%;
        padding: 1em;
        @include custom_transition(height 0.5s ease);
        overflow: auto;
        &.hide {
            height: 0;
            padding: 0;
            overflow: hidden;
        }
        .site-title {
            display: inline-block;
            margin-top: 3px;
        }

        .menu-toggle {
            width: 2.5em;
            padding: 0 0.25em;
            display: inline-block;
            vertical-align: middle;
            float: left;
            @include bp-small($size-small) {
                padding: 0.25em;
            }
            &:hover {
                cursor: pointer;
            }

            .toggle-line {
                width: 100%;
                background-color: $brand_white;
                height: 0.25rem;
                margin: 0.25rem 0;
                @include transition;

                &.open {
                    &:nth-child(2) {
                        transform: scale(0);
                        -webkit-transform: scale(0);
                        -moz-transform: scale(0);
                        -ms-transform: scale(0);
                        transform-origin: center center;
                        -webkit-transform-origin: center center;
                        -moz-transform-origin: center center;
                        -ms-transform-origin: center center;
                    }

                    &:nth-child(1) {
                        transform: translate(0, 0.5rem) rotate(45deg);
                        -webkit-transform: translate(0, 0.5rem) rotate(45deg);
                        -moz-transform: translate(0, 0.5rem) rotate(45deg);
                        -ms-transform: translate(0, 0.5rem) rotate(45deg);
                    }

                    &:nth-child(3) {
                        transform: translate(0, -0.5rem) rotate(-45deg);
                        -webkit-transform: translate(0, -0.5rem) rotate(-45deg);
                        -moz-transform: translate(0, -0.5rem) rotate(-45deg);
                        -ms-transform: translate(0, -0.5rem) rotate(-45deg);
                    }
                }
            }
        }
    }
    @include custom_transition(all 0.5s ease);
    &.hide {
        height: 0;
        min-height: 0;
        .header-inner {
            visibility: hidden;
        }
    }
}
#banner {
    background-image: linear-gradient(rgba($brand_black,0.8),rgba($brand_black,0.8)),url('../min_images/banner_bg.jpeg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center bottom;
    @include flexbox;
    justify-content: center;
    align-items: center;
    height: 75vh;
    min-height: 350px;
    .banner-text {
        text-align: center;

        text-transform: uppercase;
        @include headings{
            color: $brand_white;
        }
    }
}
#main {
    &.interior {
        margin-top: 4em;
    }
}

#portfolio {
    position: relative;

    .portfolio-grid {
        position: relative;
    }
    .show-more-col {
        text-align: center;
        .show-more {

        }
    }
    .project-col {
        height: 100%;
        opacity: 1;
        @include transition;

        &.not-loaded {
            height: 0;
            opacity: 0;
            overflow: hidden;
        }
        &:hover {
            .project {
                @include box-shadow;
            }
        }

        .project-inner {
            padding: 0.5em;
        }

        .project {
            position: relative;
            min-height: 15em;
            width: 100%;
            overflow: hidden;
            background: rgba($brand_white, 0);
            @include transition;

            .project-name {
                @include transition;
                @include absoluteCenter(50%, 50%);
                z-index: 9;
                opacity: 0;
                text-transform: uppercase;
                font-size: 1.5em;
                font-family: $header_font;
                text-align: center;
                color: $brand_dk_blue;
            }

            .close-project {
                display: none;
            }

            .project-img {
                z-index: -1;
                position: absolute;
                top: 50%;
                left: 50%;
                height: 15em;
                width: 100%;
                object-fit: cover;
                object-position: top center;
                -webkit-transform: translateX(-50%) translateY(-50%);
                -moz-transform: translateX(-50%) translateY(-50%);
                -ms-transform: translateX(-50%) translateY(-50%);
                transform: translateX(-50%) translateY(-50%);
                @include transition;
            }

            &:hover {
                background: rgba($brand_white, 0.8);
                cursor: pointer;

                .project-name {
                    opacity: 1;
                }

                .project-img {
                    -webkit-transform: translateX(-50%) translateY(-50%) scale(1.2);
                    -moz-transform: translateX(-50%) translateY(-50%) scale(1.2);
                    -ms-transform: translateX(-50%) translateY(-50%) scale(1.2);
                    transform: translateX(-50%) translateY(-50%) scale(1.2);
                }
            }
            .project-info {
                position: absolute;
                width: 0;
                display: flex;
                display: -webkit-flex;
                display: -moz-flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                background: rgba($brand_dk_blue,0.8);
                color: #fff;
                overflow: hidden;
                @include custom_transition(width 0.5s ease);
                a {
                    &.pure-button {
                        border: 3px solid $brand_white;
                        text-transform: uppercase;
                        width: 100%;
                        background: transparent;
                        white-space: nowrap;
                        &:hover, &:focus {
                            background: $brand_white;
                        }
                        &:first-child {
                            margin-bottom: 0.5em;
                        }
                    }
                }
            }

            &.active {
                background: rgba($brand_white, 0.8);
                cursor: pointer;

                .project-name {
                    opacity: 0;
                }

                .project-img {
                    -webkit-transform: translateX(-50%) translateY(-50%) scale(1.2);
                    -moz-transform: translateX(-50%) translateY(-50%) scale(1.2);
                    -ms-transform: translateX(-50%) translateY(-50%) scale(1.2);
                    transform: translateX(-50%) translateY(-50%) scale(1.2);
                }

                .project-info {
                    width: 100%;
                    z-index: 10;
                    padding: 1em;
                }

                .close-project {
                    //display: block;
                    position: absolute;
                    font-size: 1.5em;
                    top: 0.5em;
                    right: 0.5em;
                    z-index: 11;
                    color: $brand_white;
                    @include transition;

                    &:hover {
                        cursor: pointer;
                        color: $brand_yellow;
                    }
                }
            }
        }



        &.active {}
    }
}
//Project Page
$project-padding: 2em;

.project-grid {
    &> div:first-child {
        padding: 1em $project-padding 1em 0;
    }
    & > div:nth-child(2) {
        padding: 1em 0 1em $project-padding;
    }
    @include bp-medium($size-medium) {
        &> div:first-child, & > div:nth-child(2) {
            padding: 1em 0;
        }
    }


}


#project-content {


    .tech-grid {
        & > div {
            padding: 1em 2em 1em 0;
            display: flex;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            justify-content: center;
            align-items: center;
        }

        .tech-logo {
            position: relative;
            overflow: hidden;
            height: 7em;
            padding: 1em;
            text-align: center;
            display: inline-block;
            margin-right: 1em;
            .logo-overlay {
                position: absolute;
                top: 0;
                left: 0;
                padding: 0.5em;
                width: 100%;
                height: 100%;
                font-weight: bold;
                white-space: normal;
                display: flex;
                display: -webkit-flex;
                display: -moz-flex;
                display: -ms-flex;
                justify-content: center;
                align-items: center;
                transform: translateY(-101%);
                -webkit-transform: translateY(-101%);
                -moz-transform: translateY(-101%);
                background: rgba($brand_dk_blue,0.7);
                @include transition;

                .tech-label {
                    color: $brand_white;
                }
            }

            .logo-img {
                width: auto;
                height: 100%;
            }

            &:hover {
                .logo-overlay {
                    transform: translateY(0%);
                    -webkit-transform: translateY(0%);
                    -moz-transform: translateY(0%);
                }
            }
        }
    }
}
@include headings() {
    margin-top: 0;

}

#project-slider {
    text-align: center;


    .project-slide {
        .slide-img {
            img {
                width: 100%;
                height: auto;
            }
        }
    }

    .slider {
        margin: auto;
            width: calc(100% - 50px);
            width: -webkit-calc(100% - 50px);
            width: -moz-calc(100% - 50px);
        .slick-prev::before {
            font-family: FontAwesome;
            content: "\f053";
            font-size: 22px;
            color: $brand_dk_blue;
        }

        .slick-next::before {
            font-family: FontAwesome;
            content: "\f054";
            font-size: 22px;
            color: $brand_dk_blue;
        }
    }

    .view-site {
        margin-top: 2em;
    }
}

#resume-timeline {
    @include bp-medium($size-medium) {
        padding: 1em;
    }

    .experience-block {
        background: $brand_white;
        padding: 1em 0;
        &:hover {
            cursor: pointer;
        }
        &.active {


            .experience-header {
                .block-border {
                    width: 100%;
                }
            }
        }

        .experience-header {
            position: relative;
            padding: 1em 0;
            @include bp-medium($size-medium) {
                text-align: center;
            }

            & > div {
                display: inline-block;
                vertical-align: middle;
            }

            .org-logo {
                height: 5em;
                width: 5em;
                margin-right: 1em;
                overflow: hidden;

                img {
                    width: auto;
                    height: 100%;
                }
                @include bp-medium($size-medium) {
                    margin-bottom: 1em;
                    width: 100%;
                }
            }

            .experience-title {
                .title-position {
                    font-family: $header_font;
                    font-size: 1.5em;
                    font-weight: bold;
                    color: $brand_dk_blue;
                    text-transform: uppercase;
                }
            }

            .block-border {
                width: 0;
                height: 0.5em;
                left: 0;
                bottom: 0;
                position: absolute;
                background: $brand_dk_blue;
                @include transition;
            }
        }

        .experience-details {
            display: none;
            padding: 1em;
            overflow: hidden;

            ul {
                margin: 0;

                li {
                    padding: 0.5em;
                }
            }
        }
    }
}

#paper-resume {
    margin: 1em 0;
}
#skills {
    background: $brand_dk_blue;
    color: $brand_white;
    @include headings{
        color: $brand_white;
    }
    .pure-g {
        margin: 0 -1em;
        &> div {
            padding: $gutter-padding;
        }
    }
    .skills-text {
        margin-bottom: 1em;
    }
    .skill-section {
        text-align: center;
        .section-icon {
            margin-bottom: 1em;
        }
        .section-title {

        }
        ul.skill-items {
            list-style: none;
            padding: 0;
            li.skill {
                padding: 0.5em 0;
            }
        }
    }
}

#contact {
    background: rgba($brand_white,0.7);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;

    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    overflow: hidden;
    color: $brand_white;
    padding: 1em 2em;
    z-index: 11;
    text-align: right;
    @include custom_transition(transform 0.5s ease);

    &.active {
        transform: translateX(0);
    }

    .contact-form-body {
        text-align: left;
        background: $theme_form_bg;
        padding: 1em;
        margin-top: 1.5em;
        width: 33%;
        display: block;
        margin: auto;
        overflow: hidden;

        @include headings() {
            color: $brand_white;
            margin-bottom: 0;
        }

        .contact-title {
            .contact-close {
                color: $brand_white;
                display: inline-block;
                vertical-align: middle;
                font-size: 1.25em;
                float: right;
            }

            h1 {

                text-transform: uppercase;
                display: inline-block;
            }
        }
        @include bp-large($size-large) {
            width: 100%;
        }
        .form-inner {
            position: relative;
            overflow: hidden;
        }
        .signup-form {
            padding: 0;
            .form-input {
                margin: 2em 0;
                color: $brand_black;
                position: relative;
                .input-border {
                    position: absolute;
                    left: 0;
                    top: 0;
                    height: 0;
                    border-left: 5px solid $brand_dk_blue;
                    @include transition;
                }
                input,textarea {
                    display: block;
                    &:focus {
                         ~ .input-border {
                            height: 100%;
                        }
                    }
                }

            }
            .submit {
                width: 100%;
                text-align: center;
            }
        }
        .contact-alt {
            text-align: center;

            p {
                text-align: left;
            }

        }
        .form-success {
            position: absolute;
            top:0;
            left: 0;
            width: 100%;
            height: 100%;
            background: $brand_black;
            padding-top: 1em;
            transform: translateY(-100%);
            &.active {
                @include transition;
                transform: translateY(0);

            }
        }
        .contact-info {
            margin-top: 1em;
            .contact-icon {
                display: inline-block;
                font-size: 2em;
                vertical-align: middle;
                margin-right: 0.5em;
            }
            &>.pure-button {
                margin: 1em 0;
                display: block;
            }
            .contact {
                display: inline-block;
                vertical-align: middle;
            }
        }
    }
}
.home-section {
    $triangle: 2em;
    position: relative;
    @include headings{
        text-transform: uppercase;
    }
    &:nth-child(odd) {
        background-color: $brand_dk_blue;
        color: $brand_white;
        @include headings {
            color: $brand_white;
        }
        &:before {
            border-bottom: $triangle solid $brand_dk_blue;
        }
    }
    &:nth-child(even) {
        &:before {
            border-bottom: $triangle solid $brand_white;
        }
    }

    &:before {
      content: "";
      border-left: $triangle solid transparent;
      border-right: $triangle solid transparent;
      position: absolute;
      top: -$triangle;
      left: 50%;
      transform: translateX(-50%);

    }

    padding: 2em 3em calc(2em + #{$triangle});
    @include bp-small($size-small){
        padding: 2em 1em calc(2em + #{$triangle});
    }
}
#footer {
    z-index: 10;
    position: relative;
    .contact-link {
        background-image: linear-gradient(to right, rgba($brand_white,0) 50%, $brand_white 50%);
        background-position: 0 0;
        background-size: 202%;
        display: inline;
        @include transition;
        &:hover {
            cursor: pointer;
            color: $brand_black;
            background-position: -100% 0;

        }

    }
}
