#ab-calc {

  min-height: calc(100% - 2rem);
  #heading {
    background-color: $blue;
    color: $white;
    text-align: center;
    padding: 4rem 2rem;
  }
  #calc-form {
    max-width: $size-small;
    margin: auto;
    .data-row {
      margin: 1rem -1rem;
      .form-field {
        display: inline-block;
        label {
          font-weight: bold;

        }
        input {
          background-color: rgba($blue,0.1);
        }
      }
    }
    .btn-row {
      text-align: center;
    }
  }
  #results-section {
    max-width: $size-large;
    margin: auto;
    text-align: center;
    .data-section {
      margin-bottom: 2rem;
    }
  }

  .significance {

  }
  .results {

    margin: 1rem 0;
    .sig-chart {
      position: relative;
      width: 200px;
      margin: 1em auto 0;

      .donut {

        .donut-ring {
          stroke: #f2f2f2;
        }
        .donut-segment {
          transition: stroke-dasharray 0.5s ease;
        }

      }

      .confidence {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-size: 3em;
        font-weight: bold;
        font-family: $header_font;
      }
    }
    .conversion-chart {

      position: relative;
      .chart-cols {
        margin-bottom: 1rem;
        display: inline-block;
        text-align: left;
      }
      .col-container {
        position: relative;
        .winner-text {
          display: none;

        }
        & > div {
          display: inline-block;
        }
        &.winner {
          .rate-col {
            background-color: $green;
            color: #fff;
          }
          .winner-text {
            display: inline-block;
            position: relative;
            font-weight: 700;
            color: $green;
          }
        }
      }
      .col-label {
        font-weight: bold;
        font-family: $header_font;

        position: relative;
        padding-right: 0.5em;

      }
      .rate-col {

        text-align: left;
        padding: 1rem;
        text-align: center;
        span {
          position: relative;
          font-weight: bold;
          font-family: $header_font;
        }
      }
    }
    .lift-amt {
      font-weight: bold;
      font-family: $header_font;
      margin-bottom: 1rem;
      font-size: 1.5em;
      &.pos {
        color: $green;
      }
      &.neg {
        color: $red;
      }
    }
  }
  .copy-url {
    margin: 1em auto 2rem;
    .copy-field {
      position: relative;
      max-width: $size-small;
      margin: 1em auto 0;
      .copy-btn {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        background-color: $yellow;
        padding: 0.5rem;
        @include flexbox;
        justify-content: center;
        align-items: center;
      }
    }
    .url-params {
      background-color: rgba($blue,0.1);
      padding-right: 1rem;
    }
    .copy-confirm {
      opacity: 0;
      position: absolute;
      background-color: $blue;
      color: $white;
      padding: 0.5rem;
      top: 3rem;
      left: 50%;
      @include transform(translate(-50%,-100%));
      @include transition(transform,opacity);
      z-index: -1;
      &.active {
        opacity: 1;
        @include transform(translate(-50%,0%));
      }
      &:before {
        content: '';
        position: absolute;
        top: -5px;
        left: 50%;
        @include transform(translateX(-50%));
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 5px solid $blue;
      }
    }
  }
}
