.features-z-pattern {
  display: flex;
  flex-direction: column;
  gap: 6rem 0;
  padding: 2rem 0;
}

.features-z-pattern__section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem 4rem;
  @include bp-medium {
    grid-template-columns: repeat(1, 1fr);
  }
}
.features-z-pattern__section-col--image {
  @include bp-medium {
    display: none;
  }
}

.features-z-pattern__section--even .features-z-pattern__section-col--text {
  order: 2;
  @include bp-medium {
    order: 1;
  }
}

.features-z-pattern__section-subtitle {
  margin-bottom: 1rem;
}

.features-z-pattern__section-cta {
  
  display: inline-block;
}
