.portfolio {
  position: relative;
  @include bp-small {
    padding: 2rem 1rem;
  }
  .btn-row {
    text-align: center;
  }
  .portfolio-grid {
    max-width: $size-large;
    margin: auto;
    position: relative;
    top: 0;
    background-color: transparent;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    @include bp-medium {
      grid-template-columns: repeat(2,1fr);
    }
    @include bp-small {
      grid-template-columns: repeat(1,1fr);
    }
    .project-col {
      background-size: cover;
      background-position: top center;
      height: 250px;
      overflow: hidden;
      padding: 1rem;
      position: relative;
      
      .col-content {
        text-align: center;
        position: relative;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        @include box-shadow;
        @include border-radius;
        overflow: hidden;
        &:after {
          content: '';
          display: block;
          position: absolute;
          opacity: 0;
          height: 100%;
          width: 100%;
          top: 0;
          left: 0;
          
          background-color: rgba($charcoal,0.95);
          @include transition(opacity);
        }
        .project-image {
          position: absolute;
          height: 100%;
          width: 100%;
          object-fit: cover;
          object-position: center top;
          z-index: 0; 
          top: 0;
          left: 0;
        }
        .project-title {
          color: $white;
          font-weight: 700;
          position: relative;
          z-index: 1;
          display: inline-block;
          opacity: 0;
          @include transition(opacity);
          &:after {
            content: '';
            position: absolute;
            height: 2px;
            width: 100%;
            left: 0;
            bottom: -0.1em;
            background-color: $blue;
            @include transform(scaleX(0));
            transform-origin: center;
            @include transition(transform);
          }
        }

      }
      &:hover {
        cursor: pointer;
        
        .col-content {
          padding: 0.5rem;
          &:after {
            opacity: 1;
            z-index: 1;
          }
          .project-title {
            opacity: 1;
            z-index: 3;
            
            &:before {
              bottom: -1.5em;
              opacity: 1;
              z-index: 3;
            }
            &:after {
              @include transform(scaleX(1));
            }
          }

        }
      }
    }
  }
}