.project-overlay {
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba($black,0.8);
  z-index: 11;
  opacity: 0;
  overflow-y: scroll;
  @include transform(translateY(-100%));
  @include transition(transform,opacity);
  @include flexbox;
  justify-content: center;
  align-items: center;
  @include bp-small {
    display: block;
    
  }
  &.active {
    opacity: 1;
    @include transform(translateY(0%));
  }
  .close-row {
    text-align: right;
    .close-project-overlay {
      color: $white;
      font-size: 1.5rem;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .overlay-content {
    width: $size-large;
    max-width: 100%;
    margin: auto;
    position: relative;
    .close-overlay {
      position: absolute;
      top: 0;
      right: 0;
      color: $white;
      font-size: 2em;
      &:hover {
        cursor: pointer;
      }
    }
    .info-title {
      background-color: $blue;
      color: $white;
      display: inline-block;
      padding: 1em;
      position: relative;
      margin-bottom: 0;
      z-index: 2;
      @include box-shadow;
      @include bp-small {
        left: 0;
      }
      .selected-title {
        position: relative;
      }
      
    }
    .project-info {
      background-color: $white;
      padding: 1em;
      position: relative;
      z-index: 2;
      @include box-shadow(0px -2px 10px 0px rgba(0,0,0,0.35));
      .selected-tech {
        font-size: 14px;
        color: lighten($charcoal,25%);
        font-weight: 500;
        margin-bottom: 1rem;
      }
    }
    .project-cta {
      .share-project {
        display: flex;
        align-items: center;
        gap: 1rem;
        .share-btn {
          margin: 0;
          padding: 0;
          height: 2.25rem;
          width: 2.25rem;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          
          i {
            
          }
          &.copy {
            position: relative;
            .fa-link {
              backface-visibility: hidden;
              @include transition(transform);
            }
            .fa-check {
              position: absolute;
              top: 50%;
              left: 50%;
              display: flex;
              align-items: center;
              justify-content: center;
              
              transform: translate(-50%,-50%) rotateY(180deg);
              @include transition(transform);
              backface-visibility: hidden;
              z-index: -1;
            }
            &.active {
              .fa-check {
                transform: translate(-50%,-50%) rotateY(0deg);
                z-index: 1;
              }
              .fa-link {
                transform: rotateY(180deg);
              }
            }
            .copy-link {
              position: absolute;
              opacity: 0;
              z-index: -1;
              height: 0;
              overflow: hidden;
            }
          }
        }
      }
    }
    .slider-col {
      padding: 0;
      position: relative;
    }
    .project-slider {
      position: relative;
      padding: 0 1rem;
      
      .swiper-slide {
        height: 100%;
        max-height: 520px;
        overflow-y: scroll;
        @include bp-small {
          max-height: 520px;
          height: auto;
          
        }
      }
      .scroller {
        position: absolute;
        opacity: 0;  
        text-align: center;
        z-index: 10;
        bottom: 1em;
        left: 50%;
        transform: translate(-50%);
        @include transition(opacity);
        height: 55px;
        width: 55px;
        border-radius: 50%;
        background-color: rgba($charcoal,0.7);
        display: flex;
        align-items: center;
        justify-content: center;
       .scroller-box {
          width: 15px;
          height: 30px;
          border: 2px solid $white;
          position: relative;
          .scroller-ball {
            height: 3px;
            width: 3px;
            position: absolute;  
            background-color: $white;
            left: 4px;
            top: 4px;
            animation: scroll;
            animation-duration: 1.5s;
            animation-iteration-count: infinite;
            animation-delay: 0.5s;
         } 
       }
       &.active {
         opacity: 1;
       }
       @keyframes scroll {
        0% {
          top: 4px;
          opacity: 1;
        }
        50% {
          
          opacity: 0.6;
        }
        100% {
          top: 25px;
          opacity: 0;
        }
      }
      }
    }
  }
}
//swiper styles 
:root {
  --swiper-navigation-size: 1rem;
  --swiper-navigation-color: $white;

}