---
layout: default
css: blog
scripts:
- blog
---
<div class="blog-topbar">
  <div class="topbar-title">
    {{ page.title }}
  </div>
  <div class="topbar-home">
    <a href="/blog" class="white">Blog</a>
  </div>
</div>
<main id="blog-post">
  <section id="post-title">
    <div class="title-card">
        <h1>{{ page.title }}</h1>
        <div class="post-tags">
          {% for tag in page.tags %}
          <a href="/blog/?tag={{ tag | url_encode }}" class="white">{{tag }}</a>{% if forloop.last%}{% else %},{% endif %}
          {% endfor %}
        </div>
    </div>
  </section>
  <section id="content-section">
    <div class="post-date">
      {{ page.date | date: "%B %e, %Y" }}
    </div>
    <div class="post-content">
      {{ page.content }}
    </div>
    {% include separator.html %}
    <div class="share-post">
      <a class="share-btn" aria-label="Share on LinkedIn" href="https://www.linkedin.com/sharing/share-offsite/?url={{ site.url | url_encode}}{{ page.url | url_encode }}" target="_blank" rel="noreferrer noopener">
        <i class="fab fa-linkedin-in" aria-hidden="true" title="Share on LinkedIn"></i>
        
      </a>
      <a class="share-btn fbook" aria-label="Share on Facebook" href="{{ site.url }}{{ page.url }}" data-title="{{ page.title }}" rel="noreferrer noopener">
        <i class="fab fa-facebook-f"></i>
        
      </a>
      <a class="share-btn" aria-label="Share on Twitter" href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url | url_encode}}{{ page.url | url_encode }}" rel="noreferrer noopener">
        <i class="fab fa-twitter"></i>
        
      </a>
      <a class="share-btn" aria-label="Share on Email" href="mailto:?subject={{ page.title }}&body={{ site.url }}{{ page.url | url_encode }}" rel="noreferrer noopener">
        <i class="fa fa-envelope"></i>
      </a>
      <a class="share-btn copy" aria-label="Copy Link" href="#">
        <i class="fa fa-check"></i>
        <i class="fa fa-link"></i>
        <input class="copy-link" aria-label="Copy Link Text" value="{{ site.url }}{{ page.url }}">
      </a>
    </div> 
  </section>
  {% assign related-posts = "" | split: ',' %}
  {% for post in site.posts %}
    {% for tag in post.tags %}
      {% if page.tags contains tag and page.title != post.title %}
        {% assign related-posts = related-posts | push: post %}
      {% endif %}
    {% endfor %}
  {% endfor %}
  {% if related-posts.size > 0 %}
  <section id="related-posts">
    <div class="inner-section">
      <div class="related-title">Related Reading</div>
      <ul class="post-list">
        {% for post in related-posts limit: 5 %}
        <li class="related-post">
          <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </section>
  {% endif %}
  {% include footer-cta.html %}
</main>
