---
layout: default
css: blog
---
<div class="blog-topbar">
  <div class="topbar-title">
    {{ page.title }}
  </div>
  <div class="topbar-home">
    <a href="/blog" class="white">Blog</a>
  </div>
</div>
<main id="blog-post">

  <section id="post-title">
    <div class="title-card">
        <h1>{{ page.title }}</h1>
        <div class="post-tags">
          {% for tag in page.tags %}
          <a href="/blog/?tag={{ tag | url_encode }}" class="white">{{tag }}</a>{% if forloop.last%}{% else %},{% endif %}
          {% endfor %}
        </div>
    </div>

  </section>
  <section id="post-content">
      {{ page.content }}
  </section>
  {% assign related-posts = "" | split: ',' %}
  {% for post in site.posts %}
    {% for tag in post.tags %}
      {% if page.tags contains tag and page.title != post.title %}
        {% assign related-posts = related-posts | push: post %}
      {% endif %}
    {% endfor %}
  {% endfor %}
  {% if related-posts.size > 0 %}
  <section id="related-posts">
    <div class="inner-section">
      <div class="related-title">Related Reading</div>
      <ul class="post-list">
        {% for post in related-posts limit: 5 %}
        <li class="related-post">
          <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </section>
  {% endif %}
  {% include footer-cta.html %}
</main>
