---
layout: compress
---
<!DOCTYPE html>
<html>
<head>
  {% include head.html %}
</head>
<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-THQC7Q9" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  {% include nav.html %}
  {% include project-overlay.html %}
  <!-- <div id="wrapper"> -->
    {{ content }}
  <!-- </div> -->
  <div id="footer">
  </div>
  <!-- Scripts -->
  <script src="/js/min/site-functions.min.js"></script>
</body>
</html>
