---
layout: compress
---
<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
</head>
<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-THQC7Q9" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  {% include schedule-overlay.html %}
  {% include nav.html %}
  {% if page.url == '/' %}
  {% include project-overlay.html %}
  {% endif %}
  
  {{ content }}
  <footer>
    <div class="footer-grid">
      <div class="footer-col footer-left">
        &copy;  <span class="copyright-year">{{ site.time | date: '%Y' }}</span> Ed Cupaioli
      </div>
      <div class="footer-col footer-right">
        <div class="icon-row">
          {% for link in site.data.nav.social %}
          <a class="icon-link" href="{{ link.url }}" aria-label="{{ link.title }}" >{{ link.icon }}</a>
          {% endfor %}
        </div>
      </div>
    </div>
  </footer>
  <!-- Scripts -->
  <!-- Sitewide -->
  <script src="/js/min/site-functions.min.js?{{site.time | date: '%s' }}"></script>
  <!-- Sitewide - Calendly Form -->
  <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script>  
  <script src="/js/min/schedule-form.min.js?{{site.time | date: '%s' }}"></script>
  <!-- Sitewide - Nav -->
  <script src="/js/min/nav.min.js?{{site.time | date: '%s' }}"></script>
  {% if page.swiper == true or layout.swiper == true %}
  <!-- Swiper -->
  <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
  {% endif %}
  {% if layout.scripts.size > 0 %}
  <!-- Layout -->
  {% for script in layout.scripts %}
  <script src="/js/min/{{script}}.min.js?{{site.time | date: '%s' }}"></script>
  {% endfor %}
  {% endif %}
  {% if page.scripts.size > 0 %}
  <!-- Page -->
  {% for script in page.scripts %}
  <script src="/js/min/{{script}}.min.js?{{site.time | date: '%s' }}"></script>
  {% endfor %}
  {% endif %}
  
</body>
</html>
