<!DOCTYPE html>
<html>
<head>
    {% include head.html %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    {% if page.url contains "/project" %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css" />
    {% assign header-state = "collapsed" %}
    {% endif %}
</head>

<body>
    <div id="wrapper">
        <div id="header" class="{{ header-state }}">
            <div class="header-inner">
                <div class="site-title">
                    <h1><a href="{{ base }}/">Ed Cupaioli</a></h1>
                    <div class="site-tagline">
                        <h2>Frontend Developer | Web Designer</h2>
                    </div>
                </div>

                <div class="header-collapse">
                    <i class="fa fa-angle-up "></i>
                </div>
            </div>
        </div>
        <div id="main" class="{{ header-state }}">
            {% if page.url contains "/project" %}
                {% include project.html %}
            {% else %}
                {{ content }}
            {% endif %}
        </div>
    </div>
    <div id="footer">
        {% include footer.html %}
    </div>
    <!-- Scripts-->
    {% if page.url contains "/project" %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js"></script>
    {% endif %}
    <script src="{{ base }}/theme_functions.min.js"></script>
</body>
</html>
