<!DOCTYPE html>
<html>
<head>
    {% include head.html %}
</head>

<body>
    <div id="wrapper">
        <div id="header">
            <div class="header-inner">
                <div class="site-title">
                    <h1><a href="/">Ed Cupaioli</a></h1>
                    <div class="site-tagline">
                        <h2>Frontend Developer | Web Designer</h2>
                    </div>
                </div>

                <div class="header-collapse">
                    <i class="fa fa-angle-up "></i>
                </div>
            </div>
        </div>
        <div id="main">
            {{ content }}
        </div>
    </div>
    <div id="footer">
        {% include footer.html %}
    </div>
    <!-- Scripts-->
    <script src="{{ site.baseurl }}/js/theme_functions.min.js"></script>
</body>
</html>
