<!DOCTYPE html>
<html>
<head>
    {% include head.html %}
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css" /> -->

</head>

<body>
    <div id="wrapper">
        <div id="header" class="collapsed">
            <div class="header-inner">
                <div class="site-title">
                    <h1><a href="/">Ed Cupaioli</a></h1>
                    <div class="site-tagline">
                        <h2>Frontend Developer | Web Designer</h2>
                    </div>
                </div>

                <div class="header-collapse">
                    <i class="fa fa-angle-down "></i>
                </div>
            </div>
        </div>
        <div id="main" class="collapsed">
            <div class="pure-g">
                <div id="project-body" class="pure-u-1 pure-u-md-1-2">
                {{ content }}
                </div>
                <div id="project-iframe" class="pure-u-1 pure-u-md-1-2" style="background-image: url(/min_images/{{ page.img }}); ">
                    <div class="iframe-overlay">
                        <div data-url="{{ page.link }}" class="load-iframe"><i class="fa fa-search"></i></div>
                    </div>
                    <iframe class="iframe-window" src=""></iframe>
                    <div class="iframe-buttons">
                        <a class="view-site pure-button" target="_blank" href="{{ page.link }}">View Site <i class="fa fa-external-link"></i></a>
                        <a class="resize pure-button">
                            <span class="enlarge active">Enlarge <i class="fa fa-expand"></i></span>
                            <span class="minimize">Minimize <i class="fa fa-expand"></i></span>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div id="footer">
        {% include footer.html %}
    </div>
    <!-- Scripts-->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js"></script> -->
    {% js theme_functions.js %}
</body>
</html>
