<!DOCTYPE html>
<html>
<head>
    {% include head.html %}
</head>

<body>
    <div id="wrapper">
        <div id="header" class="collapsed">
            <div class="header-inner">
                <div class="site-title">
                    <h1>Ed Cupaioli</h1>
                    <div class="site-tagline">
                        <h2>Frontend Developer | Web Designer</h2>
                    </div>
                </div>

                <div class="header-collapse">
                    <i class="fa fa-angle-down "></i>
                </div>
            </div>
        </div>
        <div id="main" class="collapsed">
            <div id="project-slider">
            </div>
            <div id="project-body">
            {{ content }}
            </div>
        </div>
    </div>
    <div id="footer">
        {% include footer.html %}
    </div>
    <!-- Scripts-->
    {% js theme_functions.js %}
</body>
</html>
