---
layout: default
css: service
---
<main id="service-page">
  <section id="intro-section" class="blue">
    <div class="inner-section">
      <h1 class="intro-title">{{ page.intro.title }}</h1>
      <div class="intro-text text-large">{{ page.intro.text }}</div>
      {% include form-button.html %}
    </div>
  </section>
  
  <section id="features-section">
    <div class="inner-section">
      <h2 class="section-title">
        {{ page.features.title }}
      </h2>
      {% include features-z-pattern.html features=page.features.list %}
    </div>
  </section>
  {% include steps-section.html class="grey" button-link="#open-form?service=web" button-text="Work with me" %}
  <section id="about-section">
    <div class="inner-section">
      <h2 class="section-title">{{ page.about.title }}</h2>
      <div class="section-text">
        {{ page.about.text | markdownify }}
      </div>
      
      <div class="about-benefits">
        <div class="benefits-list">
          {% for benefit in page.about.benefits.list %}
          <div class="benefit text-large">{{ benefit }}</div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
  {% include footer-cta.html %}
</main>